@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500;700&family=PT+Sans:ital@0;1&display=swap');

body {
	font-family: $font-main;
	color: $black;
	font-size: 16px;
	overflow-x: hidden; // для scrolltriggera
	/* background: $orange; */
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
	/* background: green; */
}
